body{
  font-family: "Montserrat";
}
#title{
  background-color: #ff4c68;
  color: white;

}
h1,h2,h3,h4{
  font-family: "Montserrat-Black";
  font-weight: bold;
}
h2{

  font-size: 3rem;
  line-height: 1.5;
}
h3{
    line-height: 1.5;
}

p{
  color: #8f8f8f;
}
i{
  color: #ef8172;
  padding-bottom: 10px;
}
i:hover{
  color: #ff4c68;
}
.testimonials-image{
  width :10%;
  border-radius: 100%;
  margin: 20px;
}
.container-fluid{
  padding: 3% 15%;
}
#features{
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;
}
#press{
  background-color: #ef8172;
  text-align: center;
}
#pricing{
  text-align: center;
  padding: 100px;
}
#footer{
  padding: 7% 15%;
  text-align: center;

}
.foot{
  font-family: "Montserrat-Black";
  font-weight: bold;
  font-size: 3.5rem;
  color: white;
}
.pricing-column{
  padding: 3% 2%
}
.carousel-item{
   padding: 7% 15%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}
.feature-box{
  text-align: center;
  padding: 3%;
}

.navbar{
  padding: 0 0 4.5rem;
}
.navbar-brand{
  font-family: Ubuntu;
  font-size: 2.5rem;
  font-weight: bold;
}
.download-button{
  margin: 5% 3% 5% 0;
}
.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
}
.social-icon{
  margin: 20px 10px;
}
#testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: white;
}
#cta{
  background-color: #ff4c68;
  padding: 7% 15%;
  text-align: center;
  line-height: 1.5;
}
@media (max-width: 1028px) {
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
  }
}
.big-heading{
  font-family: "Montserrat-Black";
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}
